UoW - w2151870 (IIT - 20232749)

In [2]:
import pandas as pd
import sqlite3 as sq3

In [12]:
conn = sq3.connect('Hospital_System.db')
cur = conn.cursor()

In [14]:
cur.execute( ''' 
CREATE TABLE Hospital (
hospital_id INT(3),
address VARCHAR(50) UNIQUE NOT NULL,
zip_code VARCHAR(10) NOT NULL,
city VARCHAR(50) NOT NULL,
region VARCHAR(50) NOT NULL,
country VARCHAR(50) NOT NULL,
CONSTRAINT hospital_pk PRIMARY KEY (hospital_id)
);
''')

In [15]:
cur.execute('''
CREATE TABLE Wards (
ward_id INT(4),
ward_name VARCHAR(20) UNIQUE NOT NULL,
hospital_id INT(3),
CONSTRAINT ward_pk PRIMARY KEY (ward_id),
CONSTRAINT hospital_fk FOREIGN KEY (hospital_id)
REFERENCES branches(ward_id)
);
''')

In [16]:
cur.execute('''
INSERT INTO Hospital (hospital_id, address, zip_code, city, region, country)
VALUES
(101, '50 Green Street', 'SW1 2AA', 'London', 'London', 'UK'),
(102, '12 Hill Avenue', 'M1 5GH', 'Manchester', 'Greater Manchester', 'UK'),
(103, '34 River Road', 'L2 3DR', 'Liverpool', 'Merseyside', 'UK'),
(104, '19 Lake View', 'B4 2DD', 'Birmingham', 'West Midlands', 'UK');
''')

In [18]:
cur.execute('''
INSERT INTO Wards (Ward_id, ward_name, hospital_id)
VALUES
(1010, 'Accident', 101),
(1020, 'Cardiology', 102),
(1030, 'Endoscopy', 103),
(1040, 'Surgical', 104),
(1050, 'Emergency', NULL);
''')

In [19]:
ward_locations = '''
select Wards.ward_name,hospital.address, hospital.city, hospital.region, hospital.country
from wards right join hospital
on wards.hospital_id = hospital.hospital_id;
'''
print('All wards along with their hospital location: ')
cur.execute(ward_locations).fetchall()

All wards along with their hospital location:

[('Accident', '50 Green Street', 'London', 'London', 'UK'),
 ('Cardiology', '12 Hill Avenue', 'Manchester', 'Greater Manchester', 'UK'),
 ('Endoscopy', '34 River Road', 'Liverpool', 'Merseyside', 'UK'),
 ('Surgical', '19 Lake View', 'Birmingham', 'West Midlands', 'UK')]

In [20]:
hospital_without_wards = '''
select Hospital.hospital_id, Hospital.address, Hospital.city, Hospital.region, Hospital.country
from hospital
left join wards
on Hospital.hospital_id = Wards.hospital_id
where wards.hospital_id is NULL;
'''
print('All hospital without any wards: ')
cur.execute(hospital_without_wards).fetchall()

All hospital without any wards:

[]